= simple_form_for(@tree) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :parent_id
    = f.input :lft
    = f.input :rgt
    = f.input :depth

  .form-actions
    = f.button :submit
